<label for="category-select">Choose a category:</label>
<select name="category" id="category-select">
  <option value="">--Please choose an option--</option>
  <% for (let category of categories) { %>
    <option value=<%=category.category_name%>>
      <%=category.category_name%>
    </option>
    <% } %>

</select>