<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <!-- Nav CSS-->
  <link rel="stylesheet" href="styles/nav.css" type="text/css" />

  <!-- Body CSS-->
  <link rel="stylesheet" href="styles/body.css" type="text/css"/>

  <!-- Button CSS-->
  <link rel="stylesheet" href="styles/button.css" type="text/css"/>

  <!-- Google Roboto Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

   <!-- Font Awesome Lib CDN-->
   <link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
   integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
   crossorigin="anonymous"
   referrerpolicy="no-referrer"
 />


  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <div class="header">
      <span class='logo'>Smart Todo List</span>
      <div class="user-select">
        <form action="/register" method="GET">
          <input type="submit" value="Register" class="register-button">
        </form>
        <!--<span class="login">Login </span> !-->
        <!-- <span class="register">Register</span> -->
      </div>
    </div>
  </nav>


<main class="container">
  <section class="form-class">
  <form class="form-inline " id="login-form" method="POST" action="/tasks">
    <div class="form-group mb-2 forms">
      <label for="email" class="e-mail"> E-mail Address</label>
       <input class="form-control e-mail" type="email" name="email" placeholder="Enter E-mail Address" />
        <label for="password" class="pw">Password</label>
        <input class="form-control pw" type="password" name="password" placeholder="Enter Password" />
        <button type="submit" class="btn">Login</button>
    </div>
  </form>
  </section>
  </main>
</body>
</html>
