<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Nav CSS-->
    <link rel="stylesheet" href="styles/nav.css" type="text/css" />

    <!-- Body CSS-->
    <link rel="stylesheet" href="styles/body.css" type="text/css"/>

    <!-- Button CSS-->
    <link rel="stylesheet" href="styles/button.css" type="text/css"/>

    <!-- Google Roboto Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <!-- Font Awesome Lib CDN-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  <title>Tasks</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
<nav>
    <div class="header">
      <form action="/tasks" method="GET">
        <input type="submit" value="Smart Todo List" class="home-page">
      </form>
      <div class="user-select">
        <span class="user">USER</span>
        <form action="/tasks/add" method="GET">
          <input type="submit" value="Add Task" class="add-task-button">
        </form>
      </div>

    </div>
  </nav>


<main class="container list">
  <div class="buttons">
    <button type="button" class="fa-regular fa-flag"></button>
    <button type="button" class="fa-solid fa-utensils"></button>
    <button type="button" class="fa-solid fa-video"></button>
    <button type="button" class="fa-solid fa-book"></button>
    <button type="button" class="fa-solid fa-shopping-cart"></button>
  </div>

  <div class="taskbox">
    <section class="task-display">
      <!-- checks if task is defined if undefined skip  -->
      <% if(tasks){ %>
        <% tasks.forEach(task => { %>
          <section>
            <h3><%= task.task_name %>
              (<%= task.category_name %>)
            </h3>
            </section>
            <div>
            <p>
              <%= task.task_description %>
            </p>
            </div>
            <a href="/tasks/edit/<%= task.id %>">Edit</a>
          </li>
        <% }); %>

      <% } %>
    </section>
  </div>
  <section class="task-display">
</main>
</body>
</html>
