.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  padding-left: 125px;
  padding-right:125px
  }

.button {
  background-color: transparent;
  font-size: 16px;
}

.fa-flag, .fa-utensils, .fa-video, .fa-book, .fa-shopping-cart {
    background-color: white;
    border: white;
  }

.fa-flag:hover, .fa-utensils:hover, .fa-video:hover, .fa-book:hover, .fa-shopping-cart:hover {
  box-shadow: 3px 3px 3px rgba(41, 41, 45, 0.2);
}
