.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  }

.fa-flag, .fa-utensils, .fa-video, .fa-book, .fa-shopping-cart {
    background-color: white;
    border: white;
  }


